{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Debug Program",
            "type": "go",
            "request": "launch",
            "mode": "debug",
            "remotePath": "",
            "port": 2346,
            "host": "127.0.0.1",
            "program": "${workspaceRoot}",
            "env": {
                "HOST": "localhost:8099",
                "MONGO_HOST": "mongodb://localhost:27017",
                "MONGO_DATABASE": "saft_parser",
                "SAFT_FILES_FOLDER": "/home/rmoreira/Desktop/XMLFiles",
            },
            "args": [],
            "showLog": true
        },
        {
            "name": "Launch Tests",
            "type": "go",
            "request": "launch",
            "mode": "test",
            "remotePath": "",
            "port": 2346,
            "host": "127.0.0.1",
            "program": "${workspaceRoot}/controllers/v1",
            "env": {
                "HOST": "localhost:8099",
                "MONGO_HOST": "mongodb://localhost:27017",
                "MONGO_DATABASE": "saft_parser",
                "SAFT_FILES_FOLDER": "/home/rmoreira/Desktop/XMLFiles",
            },
            "args": [
              "-test.v"
            ]
        }
    ]
}
